*.html linguist-detectable=true
*.xml linguist-detectable=false
*.css linguist-detectable=true
*.js linguist-detectable=true
*.scss linguist-detectable=true
*.less linguist-detectable=false
*.java linguist-detectable=false
*.php linguist-detectable=true
